*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main{
    background: url('./image/123.png') no-repeat;
    
}

.main .header{
    background: rgba(0, 0, 0, 0.5);
}

.main .header .container{
    min-height: 140px;
}

.main .content{
    height: 645px;
}

.navbar-nav  .active .border{
    color: #4bcaff !important;
    border-width: 3px !important;
    border-color: #4bcaff !important;
}

.menu li{
    list-style-type: none;
    color: white;
    border-width: 3px !important;
    border-color: skyblue !important;
}

.main .content p{
    background: rgba(0, 0, 0, 0.5);
}

.service {
    background: #4bcaff;
}


.service-detail .serviceTitle{
    font-size: 18px;
    font-weight: bold;
}

.main .portfolio{
    background: white;
}


.plus{
    width: 90%; 
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: none !important;
}


@media only screen and (max-width: 767px) {
    .plus{
        width: 94%; 
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        display: none !important;
    }

  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .plus{
        width: 92%; 
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        display: none !important;
    }
  }


.plus:hover {
    display: flex !important;
}

.row img:hover + .plus{
    display: flex !important;

}

.main .video{
    background: #515f67;
}

.main .twitter{
    background: #4bcaff;
}

.main .who{
    background: url("./image/bgphoto.png") no-repeat;
    background-position: center;
    /* height: 50vh; */
    background-size: cover;
}

.main .contact{
    background: url("./image/Layer1.png") no-repeat;
    background-position: center;
    background-size: cover;
   
}

.main .footer{
    background: #353f47;
}

p {
    text-align: justify;
}

.input{
    width: 100%;
    height: 50px;
    background: transparent;
}

.inputMess {
    width: 100%;
    height: 30vh;
    background: transparent;
}